<fieldset>
    <legend>{if $data.id_brand}Edit{else}Add{/if} Brand</legend>
    <form method="post" action="index.php?module=brand&func={if $data.id_brand}update{else}insert{/if}">
        <table  border="0" cellspacing="2" cellpadding="2">
            <tr>
                <td><b>Company:</b></td>
                <td><input type="text" class="form-control" required name="brand[company]" value="{$data.company}" size="30"/></td>
            </tr>
            <tr>
                <td><b>Brand:</b></td>
                <td><input type="text" class="form-control" required name="brand[brand]" value="{$data.brand}" size="30"/></td>
            </tr>
            <tr>
                <td><b>Product:</b></td>
                <td><input type="text" class="form-control" required name="brand[product]" value="{$data.product}" size="30"/></td>
            </tr>
            <tr>
                <td><b>Size:</b></td>
                <td><input type="text" class="form-control" required name="brand[size]" value="{$data.size}" size="100"/></td>
            </tr>
            <tr>
                <td align="center" colspan="2">
                    <input type="hidden" id="hide" name="id" value="{$data.id_brand}">
                    <input type="submit" class="btn btn-success" value="Submit" />
                    <input type="reset"  class="btn btn-danger" value="Reset"/>
                </td>
            </tr>
        </table>
    </form>
</fieldset>
