<h3>Brand Master</h3>
<table id="dataTable" class="table table-striped table-bordered" width="100%">
    <thead>
        <tr> 
            <th colspan="2">
                <select onchange="update_listing('head', this.value);">
                    {html_options options=$ini.status_all selected=$smarty.request.status}
                </select>
            </th>
            <th><a title="Add Head" href="index.php?module=brand&func=edit"><i class="fa fa-plus fa-2x"></i></a></th>
        </tr>
        <tr><th>Company</th><th>Brand</th><th>Category</th><th>Size</th><th>Action</th></tr>
    </thead>
    {foreach from=$brand item=mod}
    <tr>
        <td>{$mod.company}</td>
        <td>{$mod.brand}</td>
        <td>{$mod.category}</td>
        <td>{$mod.size}</td>
        <td>
            <a title="Edit Brand" href="index.php?module=brand&func=edit&id={$mod.id_brand}"><i class="fa fa-edit fa-2x"></i></a>
            <a title="Delete Brand" href="index.php?module=brand&func=delete&id={$mod.id_brand}&ce=0" onclick="return confirm('Do you want to delete?');"><i class="fa fa-trash fa-2x"></i></a>
        </td>
    </tr>
    {/foreach}
</table>

