<div class="col-7 card">

    <div class="d-inline p-2">
        <div onclick="prev();" title="Previous" class="btn btn-primary" style="font-size:16px;float:left;"><<</div>
        <div onclick="next();" title="Next" class="btn btn-primary" style="font-size:16px;float:right;">>></div>
    </div>
    <div class="remark">Banquet Status as on :: {$smarty.now|date_format:"%d-%m-%Y %H:%M %p"}</div>
    <div class="d-inline p-2">
        <span style="float:left; display:inline;">
            <div class="remark">Ground Floor</div>
            <span id="cal1"></span>
        </span>
        <span style="float:right; display:inline;">
            <div class="remark">First Floor</div>
            <span id="cal2"></span>
        </span>
    </div>
    <div class="remark"><span class="vacant">&nbsp;&nbsp;&nbsp;&nbsp;</span> : Vacant, <span class="occupy">&nbsp;&nbsp;&nbsp;&nbsp;</span> : Full Occupied, <span class="first">&nbsp;&nbsp;&nbsp;&nbsp;</span> : First Half, <span class="second">&nbsp;&nbsp;&nbsp;&nbsp;</span> : Second Half</div>
</div>
<script>
    function prev() {
        month = month - 3;
        if (month < 1) {
            month = month + 12;
            year = year - 1;
        }
        var cal1 = new Calendar(month, year);
        cal1.generateHTML();
        document.getElementById("cal1").innerHTML = cal1.getHTML()
        var cal2 = new Calendar(month, year);
        cal2.generateHTML();
        document.getElementById("cal2").innerHTML = cal2.getHTML()
    }
    function next() {
        month = month + 3;
        if (month > 12) {
            month = month - 12;
            year = year + 1;
        }
        var cal1 = new Calendar(month, year);
        cal1.generateHTML();
        document.getElementById("cal1").innerHTML = cal1.getHTML()
        var cal2 = new Calendar(month, year);
        cal2.generateHTML();
        document.getElementById("cal2").innerHTML = cal2.getHTML()
    }
    function showdetails(room, date) {
        $.post("index.php?module=reservation&func=showguest", { room: room, date: date }, function (resp) {
            if (resp == "null") {
                json_data = "Some issue, while getting data from Server.";
            } else {
                data = JSON.parse(resp);
                json_data = "<table class='table table-bordered table-striped'>";
                for (i in data) {
                    json_data = json_data + "<tr><th>" + i.toUpperCase() + "</th><td>" + data[i] + "</td></tr>";
                }
                json_data = json_data + "</table>";
            }
            $(".modal-body").html(json_data);
            $('#myModal').modal('show');
        });
    }
    cal_days_labels = ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'];
    cal_months_labels = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];
    cal_days_in_month = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31];
    cal_current_date = new Date();
    var month = cal_current_date.getMonth();
    var year = cal_current_date.getFullYear();
    function Calendar(month, year) {
        this.month = (isNaN(month) || month == null) ? cal_current_date.getMonth() : month;
        this.year = (isNaN(year) || year == null) ? cal_current_date.getFullYear() : year;
        this.html = '';
    }
    Calendar.prototype.generateHTML = function () {
        var firstDay = new Date((new Date().getFullYear(), 0, 1));
        var startingDay = firstDay.getDay();
        var monthLength = cal_days_in_month[this.month];
        if (this.month == 1) {
            if ((this.year % 4 == 0 && this.year % 100 != 0) || this.year % 400 == 0) {
                monthLength = 29;
            }
        }
        var html = "";
        for (var cal = 0; cal < 3; cal++) {
            thismonth = this.month + cal;
            thisyear = this.year;
            if (thismonth>11) {
                thismonth = thismonth - 12;
                thisyear = thisyear + 1;
            }
            var curr = new Date(this.year, thismonth, 1);
            var startingDay = curr.getDay();
            var monthName = cal_months_labels[thismonth];
            var monthLength = cal_days_in_month[thismonth];
            html += '<table class="calendar-table">';
            html += '<tr><th colspan="7" class="calender-month">';
            html += monthName + "&nbsp;" + thisyear;
            html += '</th></tr>';
            html += '<tr class="calendar-header">';
            for (var i = 0; i <= 6; i++) {
                html += '<td class="calendar-header-day">';
                html += cal_days_labels[i];
                html += '</td>';
            }
            html += '</tr><tr>';
            var day = 1;
            for (var i = 0; i < 9; i++) {
                for (var j = 0; j <= 6; j++) {
                    html += '<td class="calendar-day">';
                    if (day <= monthLength && (i > 0 || j >= startingDay)) {
                        html += day;
                        day++;
                    }
                    html += '</td>';
                }
                if (day > monthLength) {
                    break;
                } else {
                    html += '</tr><tr>';
                }
            }
            html += '</tr></table>';
        }
        this.html = html;
    }
    Calendar.prototype.getHTML = function () {
        return this.html;
    }
    var cal1 = new Calendar();
    cal1.generateHTML();
    document.getElementById("cal1").innerHTML = cal1.getHTML()
    var cal2 = new Calendar();
    cal2.generateHTML();
    document.getElementById("cal2").innerHTML = cal2.getHTML()
</script>
<style>
    .calender-month {
        background-color: lightgreen;
        text-align: center;
    }
    .calendar-header-day {
        font-weight: bold;
        background-color: lightpink;
    }
    .calendar-day, .calendar-header-day {
        width:35px;
        height:20px;
        text-align: right;
    }
    .vacant, .occupy, .first, .second {
        font-weight: bolder;
        height: 20px;
        width: 20px;
        border-radius: 50%;
        border: 2px solid black;
    }
    .vacant {
        background-color: white;
    }
    .occupy {
        background-color: red;
    }
    .first {
        background-color: green;
    }
    .second {
        background-color: blue;
    }
    .remark {
        background-color: lightgrey;
        vertical-align: middle;
        vertical-align: center;
        font-size: x-large;
        text-align: center;
    }
</style>