<script>
    function recalculate() {
        let days = retvalue("days");
        let olddays = retvalue("olddays");
        if (days==0) {
            days = olddays;
            $("#days").val(days);
        }
        let discount = retvalue("olddiscount");
        let gstamt = retvalue("oldgstamt");
        let total = retvalue("oldtotal");
        discount = parseFloat(discount / olddays * days).toFixed(2);
        gstamt = parseFloat(gstamt / olddays * days).toFixed(2);
        total = parseFloat(total / olddays * days).toFixed(2);
        $("#discount").val(discount);
        $("#gstamt").val(gstamt);
        $("#total").val(total);
    }
    function retvalue(id) {
        retdata = $("#"+id).val() ? $("#"+id).val() : 0;
        retdata = parseFloat(retdata).toFixed(2);
        return retdata;
    }
    </script>
    <style>
        .room {
            background-color: lightgrey ;
        }
        input[text]:read-only {
            background-color: #ccc;
        }
    </style>
<h3>
    Edit Guest Registration<hr>
</h3>
{if $data.id_reservation}
<form method="post" action="index.php?module=reservation&func=checkinupdate">
    <table class="table">
        <tr>
            <td><b>Ref No:</b><br><b>GRC No:</b></td>
            <td>{$data.no}<br>{$data.grcno}</td>
            <td><b>Arr.Date:</b></td>
            <td>{$data.date}<br>{$data.time}</td>
            <td><b>Dep.Date: *</b></td>
            <td><input type="date" name="t[est_depature_date]" required value="{$data.est_depature_date}"/><br>
                <input type="time" name="t[est_depature_time]" value="{$data.est_depature_time}"/>
            </td>     
        </tr>
        <tr>
            <td><b>Name: *</b><br><b>Other Person:</b></td>
            <td>{$data.name}<br>{$data.oname}</td>
            <td><b>Person: *</b></td>
            <td>{$data.person}</td>
            <td><b>Adult:</b><br><b>Child:</b></td>
            <td>{$data.adult}<br>{$data.child}</td>
        </tr>
        <tr>
            <td><b>Mobile:</b></td>
            <td><input type="text" name="t[mobile]" value="{$data.mobile}" /></td>
            <td><b>Adv. Booking No:</b></td>
            <td><input type="text" name="t[ano]" value="{$data.ano}"/></td>
            <td><b>DOB:</b></td>
            <td><input type="text" name="t[dob]" value="{$data.dob}"/></td>
        </tr>
        <tr>
            <td><b>Address:</b></td>
            <td><input type="text" name="t[address]" value="{$data.address}"/></td>
            <td><b>City:</b></td>
            <td><input type="text" name="t[city]" value="{$data.city}"/></td>
            <td><b>Arrived From:</b></td>
            <td><input type="text" name="t[arrivedfrom]" value="{$data.arrivedfrom}"/></td>
        </tr>
        <tr>
            <td><b>District:</b></td>
            <td><input type="text" name="t[district]" value="{$data.district}"/></td>
            <td><b>State:</b></td>
            <td><input type="text" name="t[state]" value="{$data.state}"/></td>
            <td><b>Country:</b></td>
            <td><input type="text" name="t[country]" value="{$data.country}"/></td>
        </tr>
        <tr>
            <td><b>Email:</b></td>
            <td><input type="email" name="t[email]" value="{$data.email}"/></td>
            <td><b>ID proof:</b></td>
            <td><input type="text"  name="t[id_proof]" value="{$data.id_proof}"/></td>
        </tr>
        <tr>
            <td><b>Purpose of Visit:</b></td>
            <td><input type="text" name="t[purpose]" value="{$data.purpose}"/></td>
            <td><b>Probable Destination:</b></td>
            <td><input type="text" name="t[destination]" value="{$data.destination}"/></td>
            <td><b>Forwarding Address:</b></td>
            <td><input type="text" name="t[faddress]" value="{$data.faddress}"/></td>
        </tr>
        <tr>
            <td><b>Booking Type:</b></td>
            <td><select name="t[type]">{html_options options=$ini.res_type selected=$data.type}</select></td>
            <td><b>Booking No:</b></td>
            <td><input type="text" name="t[booking_no]" value="{$data.booking_no}"/></td>
            <td><b>Refered By:</b></td>
            <td><input type="text" name="t[refer]" value="{$data.refer}"/></td>
        </tr>
        <tr>
            <td><b>Days Stay: *</b></td>
            <td>
                <input type="hidden" id="olddays" value="{$data.daysstay}"/>
                <input type="hidden" id="olddiscount" value="{$data.discount}"/>
                <input type="hidden" id="oldgstamt" value="{$data.gstamt}"/>
                <input type="hidden" id="oldtotal" value="{$data.total}"/>
                <input type="text" id="days" name="t[daysstay]" required value="{$data.daysstay}" onblur="recalculate();" />
            </td>
            <td><b>Remarks:</b></td>
            <td><input type="text" name="t[remarks]" value="{$data.remarks}"/></td>
            <td><b>Billing Inst.:</b></td>
            <td><input type="text" name="t[billinst]" value="{$data.billinst}"/></td>
        </tr>
        <tr>
            <td><b>Rooms:</b><br><b>Total Discount:</b></td>
            <td>{$data.roomnumber}<br><input type="text" name="t[discount]" id="discount" value="{$data.discount}" readonly="readonly"/></td>
            <td><b>Total GST:</b></td>
            <td><input type="text" name="t[gstamt]" id="gstamt" readonly="readonly" value="{$data.gstamt}" /></td>
            <td><b>Total Amount: *</b></td>
            <td><input type="text" name="t[total]" id="total" required readonly="readonly" value="{$data.total}" /></td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="hidden" id="hide" name="id" value="{$data.id_reservation}">
                <input class="btn btn-primary" type="submit" value="Save" />
            </td>
        </tr>
    </table>
</form>
{/if}
