<h3>
    {if $sdata.id_sale}Edit{else}Add{/if} Sales Bill<hr>
</h3>
{$jsurl = "{$source}jsmodule/sale.js?{$smarty.now}"}
<script>
    var taxrates = {$taxrates};
</script>
<script type="text/javascript" src="{$jsurl}"></script>
<div id="salemessage"></div>
<form method="post" action="" name="sales" id="sales" autocomplete="off">
    <table width="100%">
        <tr>
            <td colspan="2">
                <table border="1">
                    <tr>
                        <td><b>Inv. No</b></td>
                        <td><b>Date</b></td>
                        <td><b>Party Name</b></td>
                        <td><b>Your Bill No</b></td>
                        <td><b>Type</b></td>
                    </tr>
                    <tr>
                        <td>
                            {if !$sdata.id_sale}<select name="series" id="series">{html_options options=$series selected=$sdata.id_series}</select>{/if}
                            <input type="text" name="sales[invno]" required size="12" value="{$sdata.invno}" {if !$sdata.id_sale} id="inv" {/if} />
                            <br><span id="msgbox"></span>
                        </td>
                        <td>
                            {if isset($sdata.date)}
                                {$date=$sdata.date}
                            {else}
                                {if $smarty.now|date_format:'%Y-%m-%d'>=$smarty.session.start_date && $smarty.now|date_format:'%Y-%m-%d'<=$smarty.session.end_date}
                                    {if $smarty.session.current_sale_date}
                                        {$date=$smarty.session.current_sale_date}
                                    {else}
                                        {$date=$smarty.now|date_format:'%Y-%m-%d'}
                                    {/if}
                                {else}
                                    {$date=$smarty.session.end_date}
                                {/if}
                            {/if}
                            <input type="date" name='sales[date]' required id="date" value="{$date}" />
                        </td>
                        <td><input type="text" name="sales[party_name]" required id="party" size="40" value="{$sdata.party_name}"/>
                            <input type="hidden" name="sales[id_head]" value="{$sdata.id_head}" id="id_head" />
                        </td>
                        <td><input type="text" name="sales[challan_no]" value="{$sdata.challan_no}" /></td>
                        <td>
                            {if $sdata} {$select=$sdata.cash} {else} {$select=1} {/if}
                            {html_radios name='sales[cash]' options=$ini.tran_type selected=$select}
                        </td>
                    </tr>
                    <tr>
                        <td><input type="text" name="sales[party_address]" style="border:none;" tabindex="-1" id="address1" value="{$sdata.party_address}"></td>
                        <td><input type="text" name="sales[party_address1]" style="border:none;" tabindex="-1" id="address2" value="{$sdata.party_address1}"></td>
                        <td><input type="text" name="sales[party_vattype]" style="border:none;" tabindex="-1" id="gstin" value="{$sdata.party_vattype}" /></td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <div style="height:180px; overflow:auto;">
                    <table border="1" class="btable">
                        <thead>
                            <tr>
                                <th>&nbsp;</th><th>Item Details</th><th>Batch</th><th>Rate</th><th>Quantity</th><th>Free</th><th>Amount</th><th>Discount</th><th>GST</th><th>CESS %</th>
                            </tr>
                        </thead>
                        <tbody id="mtable">
                            <tr class="tabRow">
                                <td><a onclick="removeRow(this);" href="#" tabindex="-1"><img src="{$source}img/close.png" /></a></td>
                                <td>
                                    <input type="text" name="items[]" id="item__1" size="40" onblur="getValues();getbatch(this.id);" required="required" />
                                    <input type="hidden" name="id_product[]" id="id_product__1" />
                                    <input type="hidden" name="discount_amount1[]" id="discount_amount1__1" />
                                    <input type="hidden" name="discount_amount2[]" id="discount_amount2__1" />
                                    <input type="hidden" name="discount_amount3[]" id="discount_amount3__1" />
                                    <input type="hidden" name="discount_amount4[]" id="discount_amount4__1" />
                                    <input type="hidden" id="itemcase__1" />
                                </td>
                                <td><input type="text" name="batch_no[]" id="batch_no__1" size="10" onfocus='$("#" + this.id).autocomplete("search", "a")' />
                                    <input type="hidden" name="id_batch[]" id="id_batch__1" />
                                    <input type="text" name="exp_date[]" onfocus="jumpnext(this.id, 'rate__');" tabindex="-1" id="exp_date__1" size="6" />
                                </td>
                                <td><input type="text" size="5" name="rate[]" id="rate__1" tabindex="-1" class="right"  onblur="getValues();" /></td>
                                <td><input type="text" size="5" name="quantity[]"  onblur="getValues();" id="qty__1" required="required" class="right" /></td>
                                <td><input type="text" size="5" name="free[]" id="free__1" class="right" /></td>
                                <td><input type="text" size="7" name="amount[]" tabindex="-1" readonly="readonly" id="amount__1" class="right" /></td>
                                <td><input type="text" size="5" name="discount3[]" id="discount3__1" onblur="getValues()" class="right" />
                                    <select name="discount_type3[]" onchange="getValues()" id="discount_type3__1" class="select" tabindex=-1>
                                        {html_options options=$ini.discount}
                                    </select>
                                </td>
                                <td>
                                    <select name="id_taxmaster[]" id="id_taxmaster__1"
                                        onchange="getTaxRates(this.id);getValues()" class="select" tabindex=-1>
                                        {html_options options=$tax}
                                    </select>
                                    <input type="hidden" name="tax_per[]" id="tax_per__1" />
                                    <input type="hidden" name="goods_amount[]" id="goods_amount__1" />
                                    <input type="text" name="tax_amount[]" tabindex="-1" id="taxamt__1" readonly="readonly" size="6" class="right" />
                                </td>
                                <td>
                                    <input type="text" size="5" name="cess[]" id="cess__1" onblur="getValues();rowadd(this, 'mtable');" class="right" />
                                    <input type="text" name="cessamt[]" tabindex="-1" id="cessamt__1" readonly="readonly" size="6" class="right" />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                </div>
            </td>
        </tr>
        <tr>
            <td valign="top">
                <table>
                    <tr>
                        <td><b>Goods Value : </b></td>
                        <td><input type="text" name="sales[totalamt]" size="12" id="totalamt" class="right" value="{$sdata.totalamt}" readonly /></td>
                        <td><b>Discount : </b></td>
                        <td><input type="text" name="sales[discount]" size="12" id="tdiscount" class="right" value="{$sdata.discount}" readonly /></td>
                        <td><b>GST : </b></td>
                        <td><input type="text" name="sales[vat]" size="12" id="vat" class="right" value="{$sdata.vat}" readonly /></td>
                        <td><b>CESS : </b></td>
                        <td><input type="text" name="sales[totalcess]" size="12" id="totalcess" class="right" value="{$sdata.totalcess}" readonly /></td>
                        <td><b>Round off : </b></td>
                        <td><input type="text" name="sales[round]" size="10" id="roundof" class="right" value="{$sdata.round}" onblur="getValues()" /></td>
                        <td><b>Total : </b></td>
                        <td>
                            <input type="text" name="sales[total]" id="total" class="right" value="{$sdata.total}" readonly />
                            <input type="text" id="prev_total" class="right" value="{$sdata.total}" style="display: none;" />
                        </td>
                    </tr>
                    <!-- <tr>
                        <td>
                            <input type="button" onclick="findtcs()" value="Get TCS">
                            <b>TCS : <input type="text" name="sales[tcsper]" id="tcsper" class="right" value="{$sdata.tcsper}" size="3" onblur="getValues()" />%
                        </td>
                        <td><input type="text" name="sales[tcsamt]" id="tcsamt" class="right" value="{$sdata.tcsamt}" onblur="getValues()" tabindex="-1" readonly /></td>
                        <td><b>Remarks : </b></td>
                        <td><textarea name="sales[memo]" cols="20" rows="2">{$sdata.memo}</textarea></td>
                    </tr>-->
                    <tr>
                        <td colspan="20" align="center">
                            <input type="button" class="btn btn-primary" value="Save" id="sub" name="save" />
                            <input type="button" class="btn btn-primary" value="Save & Print" id="print" name="print" />
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <div id="sales_till_now" style="color: red;font: 18px sans-serif;"></div>
    <input type="hidden" name="id" value="{$sdata.id_sale}" id="sale_id" />
</form>
