{if !isset($noprint)}
    <input type="button" class="print" value="Print" />
{/if}
<div class="print_content">
{$max = 18}
<style>
    p { page-break-after: always; }
    .pagenum { position: fixed; bottom: 0px; }
    .pagenum:before { content: "Page :" counter(page); }
    @media print {
        * {
            -webkit-print-color-adjust: exact !important; /*Chrome, Safari */
            color-adjust: exact !important;  /*Firefox*/
        }
    }
    .logo {
        background-image: linear-gradient(rgba(255,255,255,.9), rgba(255,255,255,.9)), url("config/odiray.jpg") ;
        background-position: center center;
        background-size: contain;
        background-repeat: no-repeat;
    }
    body {
        color:black;
    }
</style>
{foreach from=$sale item=ch}
{capture name=pgfooter}
    <tr><td colspan="10"><b>Rupees:</b>{$ch.w}<br>{$ch.memo}</td></tr>
    <tr><td colspan="12">
            <table width="100%">
                <tr>
                    <td width="80%">
                        <font size="-3">{$smarty.session.config.SALEBILLFOOTER}</font>
                    </td>
                    <td>
                        <font size="-2">E. & O. E.<br>{$head.0.name}<br><br>AUTHORISIED SIGNATORY
                        </font>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
{/capture}
{capture name=header}
<table width="100%" border="1" class="logo">
    <tr>
        <td valign="top" width="40%">
            <font size="+1"><b>{$head.0.name}</b></font><br>
            <font size="-1">{$head.0.address1} <br>
            State : {$head.0.state},    PHONE : {$head.0.phone}<br>
            GSTIN : {$head.0.gstin}<br>
            ADHAR : {$head.0.adhar}
            {if $head.0.flicence}<br>FSSAI : {$head.0.flicence}{/if}
            {if $head.0.dlicence}<br>Drug Licence : {$data.0.dlicence}{/if}
            </font>
        </td>
        <td valign="top" width="35%">Party : <b>{$ch.name}</b><br>
                {$ch.address1}<br>
                {$ch.address2}<br>
            Phone : {$ch.phone} {$ch.mobile} {$ch.state}<br>
            GSTIN : {$ch.gstin}&nbsp;&nbsp;&nbsp;&nbsp;
            Panno : {$ch.panno}<br>
            Adhar : {$ch.adhar}
        </td>
        <td>
            {if $ch.cash==1}CREDIT BILL{else}CASH BILL{/if}
            <br>
            Inv No : <b>{$ch.invno}</b><br>
            Date : <b>{$ch.date|date_format:$ini.smarty_date}</b><br>
            Bill No : {$ch.bill_no}<br>
        </td>
    </tr>
    <tr>
        <td colspan="5">
            <table width="100%" style="font-size:11px">
                <thead>
                    <tr>
                        <th>Sl.</th><th>Product Name</th><th>HSN Code</th><th>Rate</th><th>Shipped<br>Qty.</th><th>Billed<br>Qty</th><th>Amount</th><th>CGST %</th><th>CGST</th><th>SGST %</th><th>SGST</th><th>Cess %</th><th>Cess</th><th>Net Value</th>
                    </tr>
                </thead>
                <tbody>
{/capture}
{capture name=footer}
                </tbody>
            </table>
        </td>
    </tr>
    <tr>
        <td colspan="10"><table width="100%"><tr><td>&nbsp;<br>&nbsp;</td></tr></table></td>
    </tr>
    <tr>
        <td colspan="10" align="right">Continued to Next Page.... </td>
    </tr>
    {$smarty.capture.pgfooter}
</table>
{/capture}
                    {$qty=0}
                    {$gst=[]}
                    {$smarty.capture.header}
                    {foreach from=$saledetail[{$ch.id_partner_sale}] item=mod name=items}
                    {if $smarty.foreach.items.iteration % $max == 1 && $smarty.foreach.items.iteration != 1}
                        {$smarty.capture.footer}<p></p>{$smarty.capture.header}
                    {/if}
                    <tr>
                        <td>{$smarty.foreach.items.iteration}</td>
                        <td>{$mod.item}</td>
                        <td>{$mod.hsncode}</td>
                        <td align="right">{$mod.rate|string_format:"%.2f"}</td>
                        <td align="right">{($mod.qty+$mod.free)|string_format:"%d"}</td>
                        <td align="right">{$mod.qty|string_format:"%d"}</td>
                        <td align="right">{$mod.amount|string_format:"%.2f"}</td>
                        <td align="right">{($mod.tax_per/2)|string_format:"%.2f"}</td>
                        <td align="right">{($mod.tax_amount/2)|string_format:"%.2f"}</td>
                        <td align="right">{($mod.tax_per/2)|string_format:"%.2f"}</td>
                        <td align="right">{($mod.tax_amount/2)|string_format:"%.2f"}</td>
                        <td align="right">{$mod.cess|string_format:"%.2f"}</td>
                        <td align="right">{$mod.cessamt}</td>
                        <td align="right">{$mod.net_amount}</td>
                    </tr>
                    {if !isset($gst[$mod.id_taxmaster])}
                    {$gst[$mod.id_taxmaster].amt = 0}
                    {$gst[$mod.id_taxmaster].tax_per = 0}
                    {$gst[$mod.id_taxmaster].gst = 0}
                    {/if}
                    {$gst[$mod.id_taxmaster].gst = $gst[$mod.id_taxmaster].gst + $mod.tax_amount}
                    {$gst[$mod.id_taxmaster].tax_per = $mod.tax_per}
                    {$gst[$mod.id_taxmaster].amt = $gst[$mod.id_taxmaster].amt + $mod.goods_amount}
                    {$qty=$qty + $mod.qty + $mod.free }
                    {/foreach}
                    {if $smarty.foreach.items.iteration!=$max}
                        {for $l=$smarty.foreach.items.iteration%$max to $max}
                            <tr><td colspan="10">&nbsp;</td></tr>
                        {/for}
                    {/if}
                </tbody>
            </table>
        </td>
    </tr>
            {if $smarty.session.name == "MAHALAXMI & CO."}
                <tr><td colspan="10">Ledger Balance : <b>{$ch.balance|string_format:"%.2f"}</b></td></tr>
            {/if}
    <tr>
        <td colspan="10">
            <table width="100%">
                <tr>
                    <td><b>Items</b><br>{$smarty.foreach.items.iteration}</td>
                    <td><b>Quantity</b><br>{$qty}</td>
                    <td><b>Goods Value</b><br>{$ch.totalamt|string_format:"%.2f"}</td>
                    <td><b>Discount</b><br>{$ch.discount|string_format:"%.2f"}</td>
                    <td><b>CGST</b><br>{($ch.gst/2)|string_format:"%.2f"}</td>
                    <td><b>SGST</b><br>{($ch.gst/2)|string_format:"%.2f"}</td>
                    <td><b>CESS Amt</b><br>{$ch.totalcess|string_format:"%.2f"}</td>
                    <td><b>R/off</b><br>{($ch.add-$ch.less+$ch.round)|string_format:"%.2f"}</td>
                    <td><b>Total</b><br>{$ch.total|string_format:"%.2f"}</td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td colspan="10"><b>GST Bifurcation:</b>
        {foreach from=$gst item=v key=k1}
            {$v.amt|string_format:"%.2f"} @ {$tax[$k1]}={$v.gst|string_format:"%.2f"}  ||  
        {/foreach}
        </td>
    </tr>
    {$smarty.capture.pgfooter}
</table>
<div class="pagenum"></div>
<p></p>
{/foreach}
</div>