<h3>
    {if $data.id_taxmaster}Edit{else}Add{/if} Tax<hr>
</h3>
<form name="tax" id="add_tax" method="post" action="index.php?module=taxmaster&func={if $data.id_taxmaster}update{else}insert{/if}">
    <table >
        <tr>
            <td><b>Name:</b></td>
            <td><input type="text" name="tax[name]" required value="{$data.name}"/></td>
        </tr>
        <tr>
            <td><b>Tax Amount:</b></td>
            <td><input type="text" name="tax[tax_per]" required  value="{$data.tax_per}"/></td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="hidden" id="hide" name="id" value="{$data.id_taxmaster}">
                <input type="submit" value="Save" />
            </td>
        </tr>
    </table>
</form>