<fieldset>
    <legend>{if $data.id_product}Edit{else}Add{/if} Product</legend>
    <form name="product" id="add_product" method="post" action="index.php?module=product&func={if $data.id_product}update{else}insert{/if}">
        <table  border="0" cellspacing="2" cellpadding="2">
            <tr>
                <td><b>Name:</b></td>
                <td><input type="text" class="form-control" required name="product[name]" value="{$data.name}" size="30"/></td>
            </tr>
            <tr>
                <td><b>Description:</b></td>
                <td><input type="text" class="form-control" required name="product[description]"  value="{$data.description}"/></td>
            </tr>
            <tr>
                <td align="center" colspan="2">
                    <input type="hidden" id="hide" name="id" value="{$data.id_product}">
                    <input type="submit" class="btn btn-success" value="Submit" />
                    <input type="reset"  class="btn btn-danger" value="Reset"/>
                </td>
            </tr>
        </table>
    </form>
</fieldset>
