<h3>
    Party Master<hr>
</h3>
<table id="dataTable"  class="table table-striped table-bordered" width="100%">
    <thead>    
        <tr>
            <th>Sl</th><th>Name</th><th>Address</th><th>Mobile</th><th>GSTIN</th><th><a class="btn btn-primary" href="index.php?module=party&func=edit" title="Add GST Tax"><i class="fa fa-plus"></i></a></th>
        </tr>
    </thead>
    <tbody>
        {foreach from=$list item=mod}
        <tr>
            <td>{$mod.name}</td>			
            <td>{$mod.address1}</td>
            <td>{$mod.address2}</td>
            <td>{$mod.mobile}</td>
            <td>{$mod.gstin}</td>
            <td>
                <a class="btn btn-primary" href="index.php?module=party&func=edit&id={$mod.id_party}" title="Edit GST Tax"><i class="fa fa-edit"></i></a>
                <a class="btn btn-primary" href="index.php?module=party&func=delete&id={$mod.id_party}" onclick="return confirm('Do you want to delete?');" title="Delete GST Tax"><i class="fa fa-trash"></i></a>
            </td>
        </tr>
        {/foreach}
    </tbody>
</table>