<script src="https://unpkg.com/html5-qrcode@2.0.9/dist/html5-qrcode.min.js"></script>

<fieldset>
    <legend>Scan Product</legend>
    <form method="post">
    <table border="0" cellspacing="2" cellpadding="2">
        <tr>
            <td><b>Party:</b></td>
            <td><input type="text" class="form-control" required name="party" id="party" value="{$smarty.request.party}" size="30"/></td>
        </tr>
        <tr>
            <td><b>QR Code:</b></td>
            <td><input type="text" id="barcode" class="form-control" required name="barcode" value="{$smarty.request.barcode}" size="30"/></td>
                <!-- <td><input onclick="getdetails();" class="btn btn-primary" value="Search"> -->
            </td>
        </tr>
        <tr>
            <Td colspan="10">
                {if $smarty.request.barcode}
                    Name : {$product.name}<br>
                    <!-- barcode : {$product.barcode}<br>
                    code : {$product.code}<br> -->
                    Category : {$product.category}<br>
                    Type : {$product.type}<br>
                    Make : {$product.make}<br>
                    MRP : {$product.mrp}<br>
                    <!-- size : {$product.size} -->

                    {foreach from=$size item=mod}
                        <input placeholder="{$mod}" size=4>
                    {/foreach}
                    Copy <input type="checkbox">
                    <input class="btn btn-primary" onclick="save();" value="Save">

                {else}
                    <div id="qr-reader" style="width: 600px"></div>
                    <div id="qr-reader-results"></div>
                {/if}
            </Td>
        </tr>
        <tr>
            <td align="center" colspan="2">
                <input type="submit" class="btn btn-success" value="Submit" />
                <input type="reset"  class="btn btn-danger" value="Reset"/>
            </td>
        </tr>
    </table>
    </form>
</fieldset>

<div id="saved">

</div>
<style>
    .bdr {
        border: 2px solid black;
    }
</style>
<script>
function save() {
    bcode = $("#barcode").val();
    if(bcode) {
        cid = "<span class='bdr' onclick='loadme(\""+bcode+"\")'>"+bcode+"</span>";
        pid = $("#saved").html();
        $("#saved").html(pid+" "+cid);
        $("#barcode").val('');
    } else {
        alert("Please select a barcode");
    }
    $("#barcode").focus();
}
function loadme(bcode) {
    alert("Loading "+bcode);
}
function docReady(fn) {
    if (document.readyState === "complete" || document.readyState === "interactive") {
        setTimeout(fn, 1);
    } else {
        document.addEventListener("DOMContentLoaded", fn);
    }
}
docReady(function () {
    var resultContainer = document.getElementById('qr-reader-results');
    var lastResult, countResults = 0;
    function onScanSuccess(decodedText, decodedResult) {
        if (decodedText !== lastResult) {
            ++countResults;
            lastResult = decodedText;
        }
    }

    var html5QrcodeScanner = new Html5QrcodeScanner(
        "qr-reader", { fps: 10, qrbox: 250 });
    html5QrcodeScanner.render(onScanSuccess);
});
callauto("party", "index.php?module=head&func=getparty&ce=0");
callauto("barcode", "index.php?module=order&func=barcode&ce=0");
function getdetails() {

}
</script>