<h4>Order Booking</h4>
<form method="post">
<table border="0" id="order" cellspacing="2" cellpadding="2">
    <tr>
        <td><b>Party:</b></td>
        <td><input type="text" class="form-control" required name="party" id="party" value="{$smarty.request.party}" size="30"/></td>
    </tr>
    <tr>
        <td><b>QR Code:</b></td>
        <td><input type="text" id="barcode" onblur="getdetails()" class="form-control" required name="barcode" value="{$smarty.request.barcode}" size="30"/></td>
        </td>
    </tr>

    <tr>
        <td>Name</td><td>Category</td><td>Type</td><td>Make</td><td>MRP</td><td>Copy</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
    </tr>
    <body>
    </body>
    <tfoot>
    <tr>
        <td align="center" colspan="2">
            <input type="submit" class="btn btn-success" value="Submit" />
            <input type="reset"  class="btn btn-danger" value="Reset"/>
        </td>
    </tr>
    </tfoot>
</table>
</form>
<div id="saved">
</div>
<script>
codeadded = '';
callauto("party", "index.php?module=head&func=getparty&ce=0");
callauto("barcode", "index.php?module=order&func=barcode&ce=0");
function save() {
    bcode = $("#barcode").val();
    if(bcode) {
        cid = "<span class='bdr' onclick='loadme(\""+bcode+"\")'>"+bcode+"</span>";
        pid = $("#saved").html();
        $("#saved").html(pid+" "+cid);
        $("#barcode").val('');
    } else {
        alert("Please select a barcode");
    }
    $("#barcode").focus();
}
function loadme(bcode) {
    alert("Loading "+bcode);
}
function getdetails() {
    bcode = $("#barcode").val();
    if (bcode) {
        if (codeadded.includes(","+bcode)) {
            alert("Item already added");
            return;
        } else {
            codeadded = codeadded + "," + bcode;
        } 
        $.post("index.php?module=order&func=getdetails&ce=0&barcode="+bcode, function(res){
            //alert(res);
            $("#barcode").val('');
            $("#barcode").focus();
            drawhtml(JSON.parse(res));
        });
    }
}
function drawhtml(r) {
    //console.log(r.product+'--'+r.size);
    p = r.product;
    html = '';
    html = html + "<td>"+p.name+"</td>";
    html = html + "<td>"+p.category+"</td>";
    html = html + "<td>"+p.type+"</td>";
    html = html + "<td>"+p.make+"</td>";
    html = html + "<td>"+p.mrp+"</td>";
    html = html + "<td><input type='checkbox'></td>";

    s = r.size;
    for(i in s) {
        html = html + "<td><input size=4 placeholder='"+s[i]+"'</td>";
    }
    $("#order").find('tbody').append("<tr>"+html+"</tr>");

    console.log(html);
}
</script>
<style>
    .bdr {
        border: 2px solid black;
    }
</style>