<h3>
    {if $data.id_roomtype}Edit{else}Add{/if} Room Type<hr>
</h3>
<form method="post"  enctype="multipart/form-data" action="index.php?module=roomtype&func={if $data.id_roomtype}update{else}insert{/if}">
    <table >
        <tr>
            <td><b>Name:</b></td>
            <td><input type="text" name="rt[name]" required value="{$data.name}"/></td>
        </tr>
        <tr>
            <td><b>Price:</b></td>
            <td><input type="number" name="rt[price]" required  value="{$data.price}"/></td>
        </tr>
        <tr>
            <td></td>
            <td>
                <input name="image" class="form-control form-control-sm" id="formFileLg" type="file"  onchange="displayImg(this,$(this))" />
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <div class="form-group">
                    <img src="./assets/img/{$data.image}" id="cimg">
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="hidden" id="hide" name="id" value="{$data.id_roomtype}">
                <input type="submit" value="Save" />
            </td>
        </tr>
    </table>
</form>

<script>
	function displayImg(input,_this) {
	    if (input.files && input.files[0]) {
	        var reader = new FileReader();
	        reader.onload = function (e) {
	        	$('#cimg').attr('src', e.target.result);
	        }
	        reader.readAsDataURL(input.files[0]);
	    }
	}
</script>